.button-chat{
  display: inline-block;
  background: $primary;
  padding: 1.3em;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  img{
    width: 25px;
  }
  &:focus{
    outline: none;
  }
}
