.section-all-users{
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(30.9px);
  border-radius: 0px 0px 37px 0px;
  min-width: 274px;
  &-container{
    padding: 20px 20px;
    &-listing
    {
      margin-top: 20px;
      ul{
        li{
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}
