.section-room-listing-resto{
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  &-container{
    width: 700px;
    padding: 1em;
    background: rgba(245, 253, 255, 0.1);
    backdrop-filter: blur(36.0667px);
    border-radius: 50px;
    ul{
      display: flex;
      justify-content: space-between;
      li{
        background: $white;
        border-radius: 50px;
        display: inline-block;
        padding: 15px 30px;
        cursor: pointer;
        &.active{
          background-color: $primary;
          color: $white;
          position: relative;
        }
      }
    }
  }
}
