.section-room-listing-resto{
  display: flex;
  align-items: center;
  justify-content: center;
  &-container{
    width: 921px;
    padding: 1em;
    background: rgba(245, 253, 255, 0.1);
    backdrop-filter: blur(36.0667px);
    border-radius: 50px;
    ul{
      li{
        background: #F5FDFF;
        border-radius: 50px;
      }
    }
  }
}
